<header>
  <div class="left_header">
    <button type="button" value=""></button>
    <div class="devider"></div>
  </div>
  <div class="right_header">
    <div class="envelope">
      <a href="#">
        <i class="fa fa-envelope"></i>
      </a>
    </div>
    <div class="devider"></div>
    <div class="bell">
      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
    </div>
    <div class="devider"></div>
    <div class="link_UA">
      <a href="#" class="icon">Українська</a>
    </div>
  </div>

  {{#if session.isAuthenticated}}
    Logged in as {{session.currentUser.displayName}}
    <button {{action "signOut"}}>Sign out</button>
  {{else}}
    <button {{action "signIn" "Google"}}>Sign in with Google</button>
  {{/if}}

</header>