<div class="authorization col-sm-6 col-sm-offset-3">
  <div class="panel panel-default form-panel">
    <div class="panel-heading">
      <p class="welcome-site">Welcome to LMS</p>
    </div>
    <div class="panel-enter">
      <p class="enter-log">Please enter your name and password to log in.</p>
    </div>
    <div class="panel-body">
      <form novalidate="novalidate">
        <div class="form-group">
          <label for="email"></label>
          <input id="email" bindon-ngModel="email" type="text" placeholder="Enter Login or Email" class="form-control"/>
        </div>
        <div class="form-group">
          <label for="password"></label>
          <input id="password" bindon-ngModel="password" type="password" placeholder="Password" class="form-control"/>
        </div>
        <div class="form-forgot-pass"><a bind-routerLink="['/ForgotPassword']">I forgot my password </a></div>
        <div class="form-button">
          <button type="submit" on-click="subminHandler(email, password, keepSignedIn)" class="btn btn-primary">Login</button>
        </div>
        <div class="checkbox">
          <input id="remember" bindon-ngModel="keepSignedIn" type="checkbox" class="form-check"/>
          <label for="remember">Keep me signed in</label>
        </div>
        <div class="form-sign-up">Don't have an account yet? <a ui-sref="register" class="register-btn">Create an account</a></div>
        <div *ngFor="let error of errors; trackBy:$index" class="error">{{error}}</div>
      </form>
      <div class="login-button"></div>
    </div>
  </div>
</div>