<div class="main">MAIN NAVIGATION</div>
  <div class="navigation">
    <ul>
      <li class="active">
        <a href="#">
          <div class="menu_icon">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="menu_link">
            <span class="menu_name">Dashboard</span>
          </div>
        </a>
      </li>
      <li class="noactive">
        <a href="#">
          <div class="menu_icon">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="menu_link">
            <span class="menu_name">Page Layouts</span>
          </div>
        </a>
      </li>
      <li>
        <ul class="dropdown-inside">
          <li class="noactive">
            <a href="#">
              <div class="menu_icon">
                <i class="fa fa-arrow-right"></i>
              </div>
              <div class="menu_link">
                 <span class="menu_name">Fixed Header</span>
              </div>
            </a>
          </li>
          <li class="noactive">
            <a href="#">
              <div class="menu_icon">
                <i class="fa fa-arrow-right"></i>
              </div>
              <div class="menu_link">
                 <span class="menu_name">Fixed Sidebar</span>
              </div>
            </a>
          </li>
          <li class="noactive">
            <a href="#">
              <div class="menu_icon">
                <i class="fa fa-arrow-right"></i>
              </div>
              <div class="menu_link">
                 <span class="menu_name">Fixed Header & Sidebar</span>
              </div>
            </a>
          </li>
          <li class="noactive">
            <a href="#">
              <div class="menu_icon">
                <i class="fa fa-arrow-right"></i>
              </div>
              <div class="menu_link">
                 <span class="menu_name">Fixed Footer</span>
              </div>
            </a>
          </li>
          <li class="noactive">
            <a href="#">
              <div class="menu_icon">
                <i class="fa fa-arrow-right"></i>
              </div>
              <div class="menu_link">
                 <span class="menu_name">Boxed Page</span>
              </div>
            </a>
          </li>
        </ul>
      </li>
      <li class="noactive">
        <a href="#">
          <div class="menu_icon">
            <i class="fa fa-arrow-right"></i>
          </div>
          <div class="menu_link">
            <span class="menu_name">Layouts</span>
          </div>
        </a>
      </li>
  </ul>
</div>