* {
  margin: 0;
  padding: 0;
}

header {
  display: block;
  height: 60px;
  background: #293441;
  line-height: 60px;
}

header button {
  height: 36px;
  width: 40px;
  background: url('images/button1.png') no-repeat 0 0;
  border: none;
  margin-left: 250px;
  margin-top: 15px;
  float: left;
}

.left_header {
  height: 60px;
  float: left;
}

.right_header {
  height: 60px;
  float: right;
  font-size: 14pt;
  color: #B0B4B9;
  margin-right: 50px;
}

.devider {
  width: 1px;
  height: 40px;
  background: #525B66;
  float: left;
  margin: 10px 20px;
}

.envelope, .bell, .link_UA {
  float: left;
}

.link_UA a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 12pt;
}

a.icon {
  padding-left: 35px;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url('images/ua30.png');
}

.link_UA a:link, .envelope a:link, .bell a:link {
  color: #B0B4B9;
}

.link_UA a:visited, .bell a:visited, .envelope a:visited {
  color: #B0B4B9;
}

.link_UA a:hover, .bell a:hover, .envelope a:hover {
  color: #D1D6DA;
}

.sidebar {
  background: #343F4E;
  border-top: solid 1px #3E4856;
  float: left;
  width: 220px;
}

.navigation a:hover, .dropdown-inside a:hover {
  background: #323D4B;
}

.navigation li {
  display: block;
}

.main {
  color: #B0B4B9;
  line-height: 40px;
  font-family: Helvetica;
  font-size: 7pt;
  letter-spacing: .2px;
  padding-left: 10px;
  white-space: nowrap;
}

.navigation a {
  text-decoration: none;
  font-family: Helvetica;
  line-height: 45px;
  font-size: 10pt;
  display: block;
  padding-left: 20px;
}

.navigation a:link, .navigation a:visited {
  color: #B0B4B9;
}

.navigation a:hover {
  color: white;
}

ul.dropdown-inside a {
  padding-left: 40px;
}

li.active {
  border-left: solid 4px #27ABB6;
}

li.noactive {
  border-left: solid 4px #323D4B;
}

.menu_icon {
  float: left;
}

.menu_name {
  padding-left: 15px;
}

.content {
  margin-left: 220px;
}

.login-form {
  .panel.panel-default.form-panel {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 125px;
    font-size: 13px;
    background-color: #f0f3f4;
    color: #5b5b60;
  }
  .panel.panel-default.form-panel .error {
    color: #f00;
  }
  p.welcome-site {
    font-size: 16px;
    font-weight: bold;
  }
  p.enter-log {
    color: #8e8e93;
    font-size: 12px;
  }
  .panel-enter,
  .panel-body,
  .form-button,
  .form-sign-up,
  .form-forgot-pass {
    margin-top: 15px;
  }
  .form-group {
    margin-top: 20px;
  }
  .panel-heading {
    padding-top: 15px;
    font-weight: bold;
  }
  input[type=text],
  input[type=password] {
    font-size: 14px;
    padding: 4px;
  }
  .form-control {
    width: 260px;
    height: 20px;
  }
  input:focus {
    background: #f8f8f8;
  }
  .form-forgot-pass {
    margin-bottom: -10px;
  }
  .form-forgot-pass a {
    text-decoration: none;
    color: #58748b;
  }
  .form-forgot-pass a:hover {
    color: #193549;
  }
  .btn {
    margin-top: 20px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }
  .btn-primary {
    width: 270px;
    background-color: #c82e29;
    border: 1px solid #c82e29;
    border-radius: 2px;
    color: #fff;
  }
  .btn:hover {
    background-color: #da4f4a;
    cursor: pointer;
  }
  .checkbox {
    margin-top: 15px;
  }
  .form-sign-up {
    margin-top: 30px;
  }
  .form-sign-in {
    margin-top: 15px;
  }
  a.register-btn,
  a.login-btn {
    text-decoration: none;
    color: #58748b;
  }
  a.register-btn:hover,
  a.login-btn:hover {
    color: #193549;
  }
  p.text-log {
    color: #8e8e93;
    font-size: 12px;
    margin-top: 20px;
  }
  p.text-heading {
    font-size: 17px;
  }
  .clip-radio {
    width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .clip-radio label {
    color: #7f7f7f;
    font-size: 14px;
    cursor: pointer;
  }
  .radio-male {
    float: left;
  }
  .radio-female {
    float: right;
  }
  .checkbox label {
    margin-left: 5px;
    cursor: pointer;
  }
}